################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore the .vs directory
.vs

*.sln
*.vcxproj
*.filters
*.user
