
body {
    background-color: powderblue;
    width: 1000px;
    padding: 20px 300px;
}

code {
    color: tomato;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    /* border-spacing: 15px; */
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

#table1 th {
    background-color: #f1f1c1;
}

#table1 tr:nth-child(even) {
    background-color: rgb(235, 158, 158);
}

#table1 tr:nth-child(odd) {
    background-color: rgb(144, 240, 149);
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    border: 2px solid rgb(122, 30, 30);
    padding: 15px 25px;
    margin: 20px 10px;
}

a {
    font-family: 'Courier New', Courier, monospace;
}

a:link, a:visited {
    background-color: hsl(9, 100%, 64%);
    color: white;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

form{
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px, 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.registerbutton{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container{
    padding:16px;
}